﻿/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element /
/* Set some basic padding to keep content from hitting the edges /
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide /
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel /
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}*/
body {
  font-family: "acumin-pro", sans-serif;
}
.preview .next-item,
.preview .previous-item {
  position: fixed;
  top: 50%;
  font-size: 40px;
  color: #000;
  background-color: #fff;
  transform: translate(0, -100%);
  padding: 0 10px;
  opacity: 0;
  transition: opacity linear 0.1s, color linear 0.3s;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  z-index: 5;
}
.preview .next-item:hover,
.preview .previous-item:hover {
  color: #cc0000;
  opacity: 1;
}
.preview .next-item {
  right: 10px;
}
.preview .previous-item {
  left: 10px;
}
.preview:hover .next-item,
.preview:hover .previous-item {
  opacity: 0.8;
}
.files .file > a {
  overflow: hidden;
  width: 100%;
  padding: 5px;
  margin-bottom: 50px;
  height: 250px;
  border: 1px solid #eee;
  box-shadow: 5px 5px 10px 0 rgba(150, 150, 150, 0.2);
  -moz-transition: box-shadow linear 0.5s;
  -o-transition: box-shadow linear 0.5s;
  -webkit-transition: box-shadow linear 0.5s;
  transition: box-shadow linear 0.5s;
}
.files .file > a h5 {
  max-width: 100%;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.files .file > a:hover {
  box-shadow: 5px 5px 10px 0 #767676;
  color: #000;
}
.files .file-preview {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}