﻿@model ProjectDocumentBrowser.Models.Project.ListViewModel


<ul>
	@foreach (var project in Model.Directories)
	{
		<li>
			<a asp-route="project-browse" asp-route-path="@project.Item2">
				@project.Item1
			</a>
		</li>
	}
</ul>