﻿@model ProjectDocumentBrowser.Models.Project.IndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

@*@Component.Invoke("FileSystemList", Model.Projects.Select(s => Tuple.Create(s.Name, s.Path)))*@

<div class="row">
    <div class="col-md-6">

        @if ((Model.Directories?.Count() ?? 0) > 0)
        {
            <h3>Browse Directories</h3>
            <ul>
                @foreach (var project in Model.Directories)
                {
                    <li>
                        <a asp-route="project-browse" asp-route-path="@project.Item2" class="btn btn-sm btn-link">
                            @project.Item1
                        </a>
                    </li>
                }
            </ul>
        }

    </div>
</div>



@if ((Model.Files?.Count() ?? 0) > 0)
{
    <div class="row">
        <div class="col-xs-12">
            <h3>Browse Files</h3>
            <div class="container-fluid files">
                @for (int i = 0; i < Model.Files.Count; i += 6)
                {
                    <div class="row">
                        @for (int i2 = i; i2 < i + 6 && i2 < Model.Files.Count; i2++)
                        {
                            var project = Model.Files[i2];

                            <div class="col-lg-2 col-md-4 file">
                                <a asp-route="project-open" asp-route-file="@project.Item2" class="btn btn-sm btn-link">
                                    <h5>@project.Item1</h5>
                                    <img src="@Url.Link("project-preview", new { file = project.Item2 })" class="img-responsive file-preview" />
                                </a>
                            </div>
                        }

                    </div>
                }
            </div>
        </div>
    </div>
}