﻿@model ProjectDocumentBrowser.Models.Project.ListViewModel
@{
// ViewBag.Title = "Home Page";
}


<ul>
	@foreach (var directory in Model.Directories)
	{
		<li>
			<a asp-route="project-browse" asp-route-path="@directory.Item1">
				@directory.Item2
			</a>
		</li>
	}
</ul>