﻿@model ProjectDocumentBrowser.Models.Project.OpenViewModel

<div class="row preview">
    <div class="col-xs-12">
        <a asp-route="project-open" asp-route-file="@Model.PreviousFile" class="previous-item">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <img src="@Url.Link("project-preview", new { file = Model.CurrentFile })" class="img-responsive center-block" />
        <a asp-route="project-open" asp-route-file="@Model.NextFile" class="next-item">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</div>

@section head {
    @if (!String.IsNullOrWhiteSpace(Model.BugHerdKey))
    {
        <script type='text/javascript'>
            (function (d, t) {
                var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
                bh.type = 'text/javascript';
                bh.src = '//www.bugherd.com/sidebarv2.js?apikey=@Model.BugHerdKey';
                s.parentNode.insertBefore(bh, s);
            })(document, 'script');
        </script>

    }
}